/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Variables */
:root {
  --text-primary: 182, 182, 182;
  --text-secondary: 236, 236, 236;
  --bg-primary: 35, 35, 46;
  --bg-secondary: 20, 20, 24;
  --transition-speed: 600ms;
  --bg-image: url("img/dark.jpg");
  --opacity: 0.3;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgb(var(--bg-primary));
  color: rgb(var(--text-primary));
}
body:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: var(--opacity);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: rgb(var(--bg-primary));
}
::-webkit-scrollbar-thumb {
  background: rgb(var(--bg-secondary));
  border-radius: 2rem;
  transition: background 600ms ease;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--text-primary));
}
/* -------------themes--------------- */
.dark {
  --text-primary: 182, 182, 182;
  --text-secondary: 236, 236, 236;
  --bg-primary: 35, 35, 46;
  --bg-secondary: 20, 20, 24;
  --bg-image: url("img/dark.jpg");
  --opacity: 0.3;
}
.light {
  --text-primary: 31, 31, 31;
  --text-secondary: 0, 0, 0;
  --bg-primary: 255, 255, 255;
  --bg-secondary: 228, 228, 228;
  --bg-image: url("img/light.jpg");
  --opacity: 0.6;
}
.solar {
  --text-primary: 87, 110, 117;
  --text-secondary: 53, 83, 92;
  --bg-primary: 253, 246, 227;
  --bg-secondary: 245, 229, 184;
  --bg-image: url("img/solar.jpg");
  --opacity: 0.5;
}
.grass {
  --text-primary: 0, 0, 0;
  --text-secondary: 25, 25, 1;
  --bg-primary: 58, 175, 169;
  --bg-secondary: 43, 122, 119;
  --bg-image: url("img/green.jpg");
  --opacity: 0.4;
}
.theme-icon {
  display: none;
}
.dark #darkIcon {
  display: block;
}
.light #lightIcon {
  display: block;
}
.solar #solarIcon {
  display: block;
}
.grass #grassIcon {
  display: block;
}
/* ******************************* */
/* ======================================================================== */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Navbar */
.navbar {
  position: fixed;
  background-color: rgba(var(--bg-primary), 0.7);
  transition: width 600ms ease;
  overflow-x: hidden;
  box-shadow: 1px 0 7px;
  z-index: 2;
}
.navbar::-webkit-scrollbar {
  display: none;
}
.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.nav-item {
  width: 100%;
}
.nav-item:last-child {
  margin-top: auto;
}
.nav-link {
  width: 100vw;
  display: flex;
  align-items: center;
  height: 5rem;
  color: rgb(var(--text-primary));
  text-decoration: none;
  cursor: pointer;
  filter: grayscale(90%) opacity(0.7);
  transition: var(--transition-speed);
}
.nav-link.active {
  filter: grayscale(0%) opacity(1);
  background: rgb(var(--bg-secondary));
  color: rgb(var(--text-secondary));
}
.nav-logo {
  width: 100vw;
  display: flex;
  align-items: center;
  height: 5rem;
  color: rgb(var(--text-primary));
  text-decoration: none;
  transition: var(--transition-speed);
}
.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: rgb(var(--bg-secondary));
  color: rgb(var(--text-secondary));
}
.link-text {
  margin-left: 1rem;
}
.nav-link svg,
.nav-logo svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}
.logo-text img {
  width: 132px;
  height: 150px;
  border: 7px solid rgba(var(--text-primary), 0.5);
  border-top-left-radius: 25%;
  border-bottom-right-radius: 25%;
  box-shadow: -1px 6px 13px rgba(var(--bg-secondary), 0.8);
}
/* ---------svg colors--------- */
.fa-primary {
  color: #b2ff7e;
}
.fa-secondary {
  color: #df49a6;
}
.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}
/* --------------------------- */
.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: rgb(var(--text-secondary));
  background: rgb(var(--bg-secondary));
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}
.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}
.logo-text {
  display: inline;
  height: 150px;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}
.navbar:hover .logo svg {
  transform: rotate(-180deg);
}
/* Small screens */
@media only screen and (max-width: 770px) {
  .navbar {
    top: 0;
    width: 100vw;
    height: 5rem;
    overflow: visible;
  }
  #themeButton {
    position: absolute;
    display: flex;
    right: 75vw;
    top: -5rem;
  }
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  .logo {
    display: none;
  }
  .navbar-nav {
    position: absolute;
    top: 5rem;
    right: 20%;
  }
  .nav-item {
    width: 0;
    position: relative;
    display: none;
  }
  .nav-link {
    justify-content: center;
    width: 5rem;
    filter: grayscale(20%) opacity(0.9);
    background-color: rgb(var(--bg-primary));
    box-shadow: 0 4px 2px;
  }
  #themeButton .nav-link {
    background-color: inherit;
  }
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: rgb(var(--bg-primary));
    color: rgb(var(--text-secondary));
  }
}
/* Large screens */
@media only screen and (min-width: 770px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
  #themeButton {
    border-top: 1px solid;
    background-color: rgb(var(--bg-secondary));
  }
}
/* ======================================================================= */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* -----------main---------------- */
#main-wrapper {
  margin-left: 5rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 770px) and (max-width: 990px) {
  #main-wrapper {
    margin-left: 6rem;
    margin-right: 1rem;
  }
}
@media only screen and (max-width: 770px) {
  #main-wrapper {
    margin: auto;
    margin-top: 6rem;
    width: 91vw;
  }
}
/* ******************************* */

/* ----------------home page---------------*/
#home-page {
  min-height: 100vh;
  height: 100%;
  border-bottom: 2px solid;
}
.logoBg {
  animation: scroll 10s cubic-bezier(0.3, 0.75, 0.9, 0.69) infinite;
  background: url("img/ani.gif");
  background-attachment: fixed;
  height: 40vh;
}
#stlogo {
  width: 20px;
  position: absolute;
  height: 70vh;
  z-index: -1;
}
#ndlogo {
  position: absolute;
  width: 20px;
  height: 70vh;
  right: 16px;
  z-index: -1;
}
@media only screen and (max-width: 990px) {
  #ndlogo {
    height: 85vh;
  }
  #stlogo {
    height: 85vh;
  }
}
@media only screen and (max-width: 770px) {
  #ndlogo {
    right: 3.99vw;
    height: 83vh;
  }
}
@keyframes scroll {
  100% {
    background-position: 0px -800%;
  }
}
.description {
  margin: 2rem;
  position: relative;
}

#home-page img {
  position: absolute;
  top: 0;
  right: 0;
}
.custom-link {
  font-weight: 700;
  position: relative;
}
.custom-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: rgb(var(--text-secondary));
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 600ms;
}
.custom-link:hover::after {
  width: 100%;
}

@keyframes typing {
  0.0000%,
  27.3488% {
    content: "";
  }
  1.1395%,
  26.2093% {
    content: "d";
  }
  2.2791%,
  25.0698% {
    content: "de";
  }
  3.4186%,
  23.9302% {
    content: "dev";
  }
  4.5581%,
  22.7907% {
    content: "deve";
  }
  5.6977%,
  21.6512% {
    content: "devel";
  }
  6.8372%,
  20.5116% {
    content: "develo";
  }
  7.9767%,
  19.3721% {
    content: "develop";
  }
  9.1163%,
  18.2326% {
    content: "develope";
  }
  10.2558%,
  17.0930% {
    content: "developer";
  }

  30.7674%,
  51.2791% {
    content: "";
  }
  31.9070%,
  50.1395% {
    content: "w";
  }
  33.0465%,
  49.0000% {
    content: "wr";
  }
  34.1860%,
  47.8605% {
    content: "wri";
  }
  35.3256%,
  46.7209% {
    content: "writ";
  }
  36.4651%,
  45.5814% {
    content: "write";
  }
  37.6047%,
  44.4419% {
    content: "writer";
  }

  54.6977%,
  75.2093% {
    content: "";
  }
  55.8372%,
  74.0698% {
    content: "r";
  }
  56.9767%,
  72.9302% {
    content: "re";
  }
  58.1163%,
  71.7907% {
    content: "rea";
  }
  59.2558%,
  70.6512% {
    content: "read";
  }
  60.3953%,
  69.5116% {
    content: "reade";
  }
  61.5349%,
  68.3721% {
    content: "reader";
  }

  78.6279%,
  96.8605% {
    content: "";
  }
  79.7674%,
  95.7209% {
    content: "h";
  }
  80.9070%,
  94.5814% {
    content: "hu";
  }
  82.0465%,
  93.4419% {
    content: "hum";
  }
  83.1860%,
  92.3023% {
    content: "huma";
  }
  84.3256%,
  91.1628% {
    content: "human";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}
.typewriter::after {
  content: "";
  border-right: 2px solid rgb(var(--text-primary));
  animation: blink 0.5s linear infinite;
}
/* ********************************************* */

/* ----------------services page----------------- */
#services-page {
  min-height: 100vh;
  height: 100%;
  border-bottom: 2px solid;
  display: grid;
  align-items: center;
  gap: 2rem;
}
#services-page a {
  text-decoration: none;
}
#services-page h6,
#services-page h1 {
  width: fit-content;
  padding: 1rem;
  border-radius: 2rem;
}
#services-page .card {
  background-color: rgb(var(--bg-secondary));
  transition: all 0.3s linear;
  min-height: 45vh;
  color: rgb(var(--text-primary));
  height: fit-content;
  filter: opacity(0.7);
}
#services-page svg {
  width: 6rem;
  min-width: 2rem;
  height: 6rem;
  min-height: 4rem;
  margin: 1.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(var(--bg-primary));
}
#services-page .card:hover {
  box-shadow: -5px 6px 10px rgb(var(--text-primary));
  filter: opacity(1);
}
/* ******************************************** */

/* -----------------about page--------------- */
#about-page {
  min-height: 100vh;
  height: 100%;
  border-bottom: 2px solid;
  display: grid;
  align-items: center;
  gap: 2rem;
}
#about-page h6,
#about-page h1 {
  width: fit-content;
  padding: 1rem;
  border-radius: 2rem;
}
#about-page .card {
  background-color: rgb(var(--bg-secondary));
  transition: all 0.3s linear;
  height: 40vh;
  padding: 2rem;
  color: rgb(var(--text-primary));
  height: fit-content;
  filter: opacity(0.7);
  line-height: 2rem;
}
#about-page .card .card-header {
  background-color: rgb(var(--bg-secondary));
  color: rgb(var(--text-secondary));
}
#about-page .card:hover {
  box-shadow: -5px 6px 10px rgb(var(--text-primary));
  filter: opacity(1);
}
.education-wrapper .timeline {
  position: relative;
  top: -32px;
  left: 10px;
  min-width: 200px;
  padding: 15px;
  border-radius: 1rem;
  background-image: linear-gradient(to left, rgb(var(--text-primary)), rgb(var(--text-primary)), rgb(var(--text-secondary), 0.7), rgba(var(--bg-primary), 0.8), rgba(var(--bg-primary), 0.1));
  color: rgb(var(--bg-primary));
  text-align: end;
  z-index: 1;
}

.resume-timeline-wrap {
  position: absolute;
  left: 55px;
  top: 11%;
  bottom: 0%;
  z-index: 0;
  display: flex;
  width: 45px;
  max-height: 70%;
  flex-direction: column;
  align-items: center;
}
.timeline:hover {
  left: -2px;
}
.timeline-top-line {
  height: 2px;
  align-self: stretch;
  background-color: rgb(var(--text-primary));
}
.timeline-wrap {
  width: 2px;
  flex: 1;
  background-color: rgb(var(--text-primary));
}
@media only screen and (max-width: 770px) {
  .whole-wrapper .cardio {
    flex-wrap: wrap;
  }
  #about-page .card {
    margin-left: 5rem;
  }
  .resume-timeline-wrap {
    left: 55px;
    top: 3%;
    max-height: 50%;
  }
}
/* ****************************************** */

/* -----------------projects page---------------- */
#projects-page {
  min-height: 100vh;
  height: 100%;
  border-bottom: 2px solid;
  display: grid;
  align-items: center;
  gap: 2rem;
}
#projects-page h6,
#projects-page h1 {
  width: fit-content;
  padding: 1rem;
  border-radius: 2rem;
}
#projects-page .open-btn {
  position: absolute;
  color: rgb(var(--text-primary));
  border: 0;
  border-radius: 1rem;
  background: rgba(var(--bg-secondary), 0.4);
  z-index: 1;
  transition: all 0.5s ease;
}
#projects-page .open-btn:hover {
  box-shadow: -5px 5px 5px;
  scale: 1.1;
}
#projects-wrapper {
  overflow: hidden;
}
#projects-wrapper #desc1 {
  padding: 1rem;
  border: 1rem double;
  top: -120%;
  padding: 2rem;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.5s linear;
  background-color: rgb(var(--bg-primary));
  overflow: hidden;
  z-index: 1;
}
#projects-wrapper #desc2 {
  padding: 1rem;
  border: 1rem double;
  right: -120%;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.5s linear;
  background-color: rgb(var(--bg-primary));
  z-index: 1;
}
#projects-wrapper #desc3 {
  padding: 1rem;
  border: 1rem double;
  bottom: -120%;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s linear;
  background-color: rgb(var(--bg-primary));
  z-index: 1;
}
#projects-wrapper #desc4 {
  padding: 1rem;
  border: 1rem double;
  left: -120%;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.5s linear;
  background-color: rgb(var(--bg-primary));
  z-index: 1;
}
#projects-wrapper #desc1[data-visible="true"] {
  top: 0%;
  right: 12px;
}
#projects-wrapper #desc2[data-visible="true"] {
  right: 12px;
}
#projects-wrapper #desc3[data-visible="true"] {
  bottom: 0%;
  right: 12px;
}
#projects-wrapper #desc4[data-visible="true"] {
  left: 12px;
}
.projects {
  width: 40vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  border: 2px solid;
  align-items: center;
  box-shadow: 0 0 0 20rem inset rgba(var(--bg-secondary), 0.9);
  transition: box-shadow 1s;
  margin: 10px;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}
@media only screen and (max-width: 990px) {
  .projects {
    width: 80vw;
  }
}
.projects::after {
  width: 80%;
  height: 80%;
  display: block;
  border: 2px solid;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  color: var(--text-primary);
  transition: opacity 1s 0.5s;
}
.projects:hover {
  box-shadow: 0 0 0 15px inset rgb(var(--bg-secondary)), -9px 9px 9px, 0 0 20px inset;
  transition: box-shadow 1s;
}
.projects:hover::after {
  opacity: 0;
  transition: opacity 0.5s;
}
#frProject {
  background-image: url(img/project-1.png);
  background-position: center;
  background-size: cover;
}
#seProject {
  background-image: url(img/project-2.png);
  background-position: center;
  background-size: cover;
}
#thProject {
  background-image: url(img/project-3.png);
  background-position: center;
  background-size: cover;
}
#foProject {
  background-image: url(img/project-4.png);
  background-position: center;
  background-size: cover;
}
.projects::after {
  content: "";
}
/* ********************************************** */

/* -----------------reviews page---------------- */
#reviews-page {
  min-height: 100vh;
  height: 100%;
  border-bottom: 2px solid;
  display: grid;
  align-items: center;
  gap: 2rem;
}
#reviews-page h6,
#reviews-page h1 {
  width: fit-content;
  padding: 1rem;
  border-radius: 2rem;
}
.carousel .container {
  line-height: 2rem;
  justify-items: center;
}
.carousel img {
  border: 5px solid;
  border-radius: 49%;
}
.carousel h1 {
  color: rgb(var(--text-secondary));
}
.fa-backward,
.fa-forward {
  font-size: 30px;
  color: rgb(var(--text-secondary));
}
/* ********************************************* */

/* -----------------contact page---------------- */
#contact-page {
  position: relative;
  min-height: 100vh;
  height: 100%;
  display: grid;
  align-items: center;
  gap: 2rem;
}
#contact-page h6,
#contact-page h1 {
  width: fit-content;
  padding: 1rem;
  border-radius: 2rem;
}
#contact-page input,
#contact-page textarea {
  background-color: rgb(var(--bg-secondary));
  color: var(--text-primary);
}
#contact-page input::placeholder,
#contact-page textarea::placeholder {
  color: rgb(var(--text-secondary));
  opacity: 0.5;
}
/* ********************************************* */
/* ======================================================================= */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* -----------footer---------------- */
footer {
  background-color: rgba(var(--bg-secondary), 0.7);
  box-shadow: 0 -1px 7px;
  position: relative;
}
/* ======================================================================= */
